@model PrefeituraConecta.MVC.UI.Models.DeclaracoesModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/AdminTLE.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
@*<link href="~/Content/App.css" rel="stylesheet" />**@
@*<link href="~/Content/Sky.css" rel="stylesheet" />*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<div class="content-wrapper">
    <section class="content">
        <div class="box box-solid">
            <div class="box-body">
                <div class="tab-content">
                    <div id="tab_1" class="tab-pane active">
                        <div class="row">
                            <div class="col-lg-4 col-xs-12">
                                <a href="@Url.Action("Index", "Empresas")" class="elements">
                                    <div class="small-box">
                                        <div class="inner paineis">
                                            <p>Empresas</p>
                                            <h4>@Html.Raw(Model.EMPRESAS.ToString())</h4>
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-bank"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <a href="@Url.Action("Index", "Transmitidas")" class="elements">
                                    <div class="small-box">
                                        <div class="inner paineis">
                                            <p>Declarações Transmitidas</p>
                                            <h4>@Html.Raw(Model.TRANSMITIDAS.ToString())</h4>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-clipboard"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-xs-12">
                                <a href="@Url.Action("Index", "ReceitaDeclarada")" class="elements">
                                    <div class="small-box">
                                        <div class="inner paineis">
                                            <p>Receita Declarada</p>
                                            <h4>ISSQN: R$ 0,00</h4>
                                            <h4>ICMS: R$ 0,00</h4>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-cash"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                <a href="@Url.Action("Index", "ServicoSemRetencao")" class="elements">
                                    <div class="small-box">
                                        <div class="inner paineis">
                                            <p>Serviços (Sem Retenção)</p>
                                            <h4>R$ 0,00</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                <a href="@Url.Action("Index", "ServicoComRetencao")" class="elements">
                                    <div class="small-box">
                                        <div class="inner paineis">
                                            <p>Serviços (Com Retenção)</p>
                                            <h4>R$ 0,00</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                <a href="@Url.Action("Index", "ServicoOutrosMunicipios")" class="elements">
                                    <div class="small-box">
                                        <div class="inner paineis">
                                            <p>Serviços (Outros Municípios)</p>
                                            <h4>R$ 0,00</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                <a href="@Url.Action("Index", "ServicoLocacao")" class="elements">
                                    <div class="small-box">
                                        <div class="inner paineis">
                                            <p>Serviços (Locação)</p>
                                            <h4>R$ 0,00</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                <a href="@Url.Action("Index", "ServicoContabilidade")" class="elements">
                                    <div class="small-box">
                                        <div class="inner paineis">
                                            <p>Serviços (Contabilidade)</p>
                                            <h4>R$ 0,00</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                <a href="@Url.Action("Index", "ServicoExterior")" class="elements">
                                    <div class="small-box">
                                        <div class="inner paineis">
                                            <p>Serviços (Exterior)</p>
                                            <h4>R$ 0,00</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                <a href="@Url.Action("Index", "ComercioMercadoInterno")" class="elements">
                                    <div class="small-box">
                                        <div class="inner paineis">
                                            <p>Comércio (Mercado Interno)</p>
                                            <h4>R$ 0,00</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-xs-12">
                                <a href="@Url.Action("Index", "ComercioMercadoExterior")" class="elements">
                                    <div class="small-box">
                                        <div class="inner paineis">
                                            <p>Comércio (Exterior)</p>
                                            <h4>R$ 0,00</h4>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@